:root{
    --very-dark-blue: hsl(243, 87%, 12%);
    --desatured-blue: hsl(238, 22%, 44%);
    --bright-blue: hsl(224, 93%, 58%);
    --moderate-cyan: hsl(170, 45%, 43%);
    --light-grayish-blue: hsl(240, 75%, 98%);
    --light-gray: hsl(0, 0%, 75%);
    --button-hover-blue: #6b9bff;
}
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html{
    font-size: 63.5%;
}
body{
    font-family: 'Open Sans', sans-serif;
    /*font-family: 'Raleway', sans-serif;*/
}

/* Navbar */
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 84%;
    margin: 0 auto;
    padding: 22px 0;
}
.navbar__logo{
    width: 30%;
    display: inline-block;
}
.menu{
    display: flex;
    justify-content: space-between;
    width: 50%;
    list-style: none;
}
.menu__item{
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.4rem;
    color: var(--very-dark-blue);
}
.menu__link{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}
/* Header */
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 84%;
    margin: 82px auto;
}
.header__img{
    width: 100%;
    margin: 0 0 42px;
}
.header__title{
    text-align: center;
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 3.6rem;
    color: var(--very-dark-blue);
    margin-bottom: 28px;
}
.header__text{
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin-bottom: 28px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
.form__input{
    width: 100%;
    padding: 10px 20px;
    border: 1px solid var(--very-dark-blue);
    border-radius: 4px;
    margin-bottom: 12px;
}
.form__input::placeholder{
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    color: var(--light-gray);
}
.form__button{
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    background-color: var(--bright-blue);
    border: 1px solid var(--bright-blue);
    border-radius: 4px;
    color: var(--light-grayish-blue);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.4rem;
    margin-bottom: 25px;
    cursor: pointer;
}
.form__button:hover{
    border-color: var(--button-hover-blue);
    background-color: var(--button-hover-blue);
}
/* About */
.about{
    background-color: var(--light-grayish-blue);
}
.about__container{ 
    width: 84%; 
    margin: 0 auto;  
    padding-top: 20px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.about__curve-desktop{
    width: 100%;
    margin-bottom: -3px;
    display: none;
}
.about__curve-mobile{
    width: 100%;
    margin-bottom: -3px;
}
.about__img{
    display: block;
    width: 84%;
    margin: 0 auto;
    margin-bottom: 52px;
}
.about__info{
    display: flex;
    flex-direction: column;
    width: 90%;
}
.about__title{
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.8rem;
    color: var(--very-dark-blue);
    text-align: center;
    margin-bottom: 28px;
}
.about__text{
    font-size: 1.3rem;
    font-weight: 500;
    line-height: 2rem;
    color: var(--desatured-blue);
    margin-bottom: 16px;
}
.about__link{
    width: 135px;
    display: flex;
    justify-content: space-between;
    padding: 5px 0;
    text-decoration: none;
    color: var(--moderate-cyan);
    border-bottom: 1.5px solid var(--moderate-cyan);
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.2rem;
    margin: 12px 0;
}
.about__link-icon{
    display: inline-block;
    width: 16px;
    margin-left: 5px;
}
.about__link:hover{
    color: #8dd5ca;
    border-color: #8dd5ca;
}
/* card */
.card{
    width: 90%;
    background-color: #fff;
    padding: 24px;
    border-radius: 4px;
    margin: 32px 0;
    box-shadow: 6px 7px 25px -23px var(--very-dark-blue);
}
.card__quotes{
    width: 16px;
    margin-bottom: 6px;
}
.card__text{
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.8rem;
    color: var(--very-dark-blue);
    margin-bottom: 8px;
}
.avatar{
    display: flex;
    align-items: center;
    color: var(--very-dark-blue);
}
.avatar__img{
    width: 30px;
    border-radius: 50%;
    margin-right: 5px;
    object-fit: cover;
    object-position: center;
}
.avatar__title{
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
}
.avatar__text{
    font-size: 0.8rem;
}
/* Contact */
.contact{
    background-color: var(--desatured-blue);
    color: var(--light-grayish-blue);
    padding: 50px;
    text-align: center;
}
.contact__title{
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.8rem;
    letter-spacing: 0.2rem;
    margin-bottom: 20px;
}
.contact__text{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.8rem;
    margin-bottom: 20px;
}
.contact__form--width{
    width: 85%;
    margin: 0 auto;
}
.contact__input--border{
    border: none;
}
/* Footer */
.footer{
    background-color: var(--very-dark-blue);
    color: var(--light-grayish-blue);
    padding: 60px 40px;
}
.footer__logo{
    width: 100px;
    margin-bottom: 30px;
}
.footer__list{
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}
.footer__item{
    display: flex;
    align-items: center;
    margin-bottom: 12px;
}
.footer__icon{
    width: 15px;
    margin-right: 10px;
}
.footer__link{
    color: inherit;
    text-decoration: none;
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
}
.footer__link:hover{
    color: var(--button-hover-blue);
}
.footer__social{
    display: flex;
    width: 40%;
    margin: 0 auto;
    justify-content: space-between;
}
.social__link{
    width: 30px;
    height: 30px;
    border: 1px solid var(--light-grayish-blue);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;    
}
.social__link:hover{
    border-color: var(--button-hover-blue);
    color: var(--button-hover-blue);
}
.social__img{
    height: 14px;
}

@media (min-width:767px){
    .navbar{
        height: 40px;
        padding: 60px;
    }
    .navbar__logo{
        width: 150px;
    }
    .menu{
        width: 30%;
    }
    .header{
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .header__img{
        width: 50%;
    }
    .header__info{
        width: 45%;
    }
    .form{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .form__button, .form__input{
        width: 47%;
        margin-bottom: 0;
    }
    .about__curve-desktop{
        display: block;
    }
    .about__curve-mobile{
        display: none;
    }
    .card{
        width: 70%;
    }
    .contact{
    }
    .contact__container{
        width: 84%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .contact__info{
        width: 40%;
        text-align: left;
    }
    .contact__form--width{
        width: 30%;
    }
    .contact__input--width{
        width: 100%;
    }        
    .contact__button--width{
        width: 180px;
    }
    .form__vertical{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 80px;
    }
    .footer__menu{
        display: flex;
        justify-content: space-between;
    }
    .footer__container{
        width: 84%;
        margin: 0 auto;
    }
    .footer__social{
        width: 14%;
        margin: 0;
    }
}
@media (min-width:1023px){
    .about__container{
        width: 84%;
        margin: 0 auto;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    .about__img{
        width: 45%;
    }
    .about__info{
        width: 45%;
    }
}
